.skills {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
  }
  
  .skills h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  
  .skills strong {
    color: #007bff;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  
    p, li {
      font-size: 1rem;
    }
  
    #hero h1 {
      font-size: 2rem;
    }
  }